.container {
  display: flex;
  background-color: aquamarine;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  padding-bottom: 1rem;
}
.recursos {
  width: 20vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerfilho {
  display: flex;
  flex-direction: column;
}
.produto {
  margin: none;
}
