/* casa.module.css */
.container {
  text-align: center;
}

.containerfilho {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.house {
  background-color: #88c273;
  padding: 0.5rem;
}
.caixabotao {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.buttonContainer {
  margin: 20px;
}
.button1 {
  cursor: pointer;
  padding: 0.5vw;
  font-size: 1vw;
  border-radius: 15px;
  border: none;
  background-color: #a66e38;
}
.buttonbrown {
  cursor: pointer;
  padding: 0.5vw;
  font-size: 1vw;
  border-radius: 15px;
  border: none;
  background-color: #ab886d;
}
.buttonyellow {
  cursor: pointer;
  padding: 0.5vw;
  font-size: 1vw;
  border-radius: 15px;
  border: none;
  background-color: #fff100;
}
.buttongolden {
  cursor: pointer;
  padding: 0.5vw;
  font-size: 1vw;
  border-radius: 15px;
  border: none;
  background-color: #ffe15d;
}
.plantacoesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.plantacao {
  background-color: #7cfc00; /* Verde claro */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
}
