.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightgreen;
  height: 5vw;
  position: absolute;
  top: 100px;
  left: 100px;
  width: auto;
}
.button {
  border: none;
  background-color: lightyellow;
  height: 3vw;
  width: 5vw;
}
